/* Preset */

body {
	color: #eee;
	margin: 0;
	background: #111;
}

* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #222;
}

::-webkit-scrollbar-thumb {
	border: 0;
	background-color: #444;
}

	::-webkit-scrollbar-thumb:hover {
		background-color: #fd9900;
	}

::-webkit-scrollbar-track {
	border: 0;
	background: #222;
}

::-webkit-scrollbar-corner {
	background: #222;
}

.hide {
	display: none;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	/*src: url(../fonts/MaterialIconsOutlined-Regular.otf) format('opentype');*/
	src: url('../fonts/MaterialIconsOutlined-Regular.otf') format('opentype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}


/* Layout */

.layout > div {
	position: fixed;
}

.header {
	background: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 30em;
	height: 2.5em;
	display: table;
}

.header > div {
	display: table-cell;
	padding: 0 1em;
}

.header > div:last-child {
	text-align: right;
}

button {
	background: #444;
	color: #fff;
	border: 1px solid #666;
	padding: .3em .6em;
}

	button:hover {
		color: #fd9900;
	}

	button.active {
		border-color: #fd9900;
	}

.title {
	color: #fd9900;
	font-size: 1.5em;
	font-weight: 600;
	font-family: Segoe UI;
	padding: .1em .2em;
	display: inline-block;
}

.left {
	position: fixed;
	left: 0;
	width: 30em;
}

.tags-selected-header {
	background: #222;
	top: 2.5em;
	height: 2em;
	display: table;
}

	.tags-selected-header > span {
		display: table-cell;
		padding: .4em .8em;
		font-size: .9em;
	}

	.tags-selected-header:hover {
		color: #fd9900;
		cursor: pointer;
	}

.tags-selected-toggler {
	text-align: right;
}

.tags-selected {
	background: #333;
	top: 4.5em;
	bottom: 0;
	z-index: 1;
	overflow-y: scroll;
}

.tags-search-insert {
	background: #222;
	top: 4.5em;
	height: 2.6em;
	padding: .3em;
}

	.tags-search-insert select,
	.tags-search-insert input {
		background: #333;
		color: #fff;
		border: 0;
		border-bottom: 1px solid #666;
		padding: .5em 1em;
		height: 2.5em;
		vertical-align: middle;
	}
	.tags-search-insert input {
		width: 68%;
	}

	.tags-search-insert select {
		width: 30%;
	}

		.tags-search-insert input:focus,
		.tags-search-insert select:focus {
			outline: none;
			border-bottom-color: #fd9900;
		}

.tags-search-results {
	background: #222;
	top: 7.1em;
	padding: .3em;
	bottom: 0;
	overflow-y: scroll;
}

.tag {
	padding: .3em 0;
	font-size: .8em;
}

.tag:hover {
	background: #333;
	cursor: pointer;
}

.tag-type {
	padding: .2em;
	display: inline-block;
	width: 1em;
	font-weight: bold;
}

.tag-type-analog {
	color: #ff6161;
}

.tag-type-discrete {
	color: #3992ff;
}

.tag-type-string {
	color: #a46bff;
}

.tag-type-event {
	color: #3dac49;
}

.tag-name {
	font-weight: bold;
	padding: .2em;
}

.tag-desc {
	display: block;
	font-size: .95em;
	color: #fff;
	padding: .2em;
	padding-left: 3em;
}

.tag-io {
	font-size: .9em;
	display: block;
	color: #aaa;
	padding: .2em;
	padding-left: 5em;
}

.tag-io > i:hover {
	/*color: #fd9900;*/
}

.tag-selected,
.tag-selected:hover {
	background: #3a2f1e;
}

.tags-empty {
	font-size: .9em;
	padding: .2em .8em;
}

.right {
	position: fixed;
	left: 30em;
	right: 0;
}

.controls {
	top: 0;
	height: 2.6em;
	padding: .5em .6em;
	vertical-align: middle;
	background: #222;
}

	.controls span {
		padding: .2em;
		font-size: .9em;
	}

	.controls select,
	.controls input {
		background: #444;
		color: #fff;
		padding: .25em;
		border: 0;
		border-bottom: 1px solid #666;
	}

		.controls input:hover,
		.controls select:hover {
			border-bottom: 1px solid #fd9900;
		}

		.controls input:focus,
		.controls select:focus {
			border-bottom: 1px solid #fd9900;
			outline: none;
		}

.view {
	top: 2.6em;
	bottom: 0;
	background: #111;
}





.view-table {
	top: 2.7em;
	bottom: 0;
	background: #111;
	color: #fff;
	font-weight: 500;
	overflow: scroll;
	padding: 1em;
}

	.view-table table {
		font-size: .8em;
		border-collapse: collapse;
	}

	.view-table th {
		padding: .2em .5em;
		color: #fd9900;
		text-align: left;
		border: 1px solid #444;
		min-width: 11em;
		word-break: break-word;
	}

	.view-table td {
		border: 1px solid #444;
		padding: .2em .5em;
	}

	.view-table .even {

	}

	.view-table .odd {

	}


.view-graph {
	top: 2.6em;
	bottom: 0;
	overflow-x: auto;
}

.scale {
	stroke: green;
	stroke-width: 2px;
}

.ct-label {
	color: #fff;
}

.ct-grid {
	stroke: #333;
}

.ct-point {
	stroke-width: 5px;
	stroke-linecap: round;
}

.ct-line {
	fill: none;
	stroke-width: 1px;
}

#tooltip {
	position: absolute;
	padding: 4px;
	background: #fff;
	color: #000;
	display: none;
	z-index: 1000;
	font-size: 12px;
}

/* Page resize for small monitor */
.min .controls {
	height: 5.2em;
}

.min .view {
	top: 5.2em;
}

#resizer {
	visibility: hidden;
	background: red;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	padding-left: 93em;
}