<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Mnemonica1" connectionString="Server=INSQL1; Database=Mnemonica; Uid=mnemouser; Pwd=mnemopass; Connection Timeout=240" providerName="System.Data.SqlClient" />
		<add name="Mnemonica2" connectionString="Server=INSQL2; Database=Mnemonica; Uid=mnemouser; Pwd=mnemopass; Connection Timeout=240" providerName="System.Data.SqlClient" />

		<add name="Runtime1" connectionString="Server=INSQL1; Database=Runtime; Uid=wwUser; Pwd=wwUser; Connection Timeout=240" providerName="System.Data.SqlClient" />
		<add name="Runtime2" connectionString="Server=INSQL2; Database=Runtime; Uid=wwUser; Pwd=wwUser; Connection Timeout=240" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"/>
		<httpRuntime requestValidationMode="2.0" />
	</system.web>
</configuration>
